*::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb:hover {
	border-radius: 9px;
	border: solid 6px transparent;
	background-clip: content-box;
}
*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
	border: solid 5px transparent;
}
*::-webkit-scrollbar {
	@apply min-h-[18px] min-w-[18px];
}
*::-webkit-scrollbar-thumb {
	@apply bg-slate-400;

	&:hover,
	&:active {
		@apply bg-slate-600;
	}
}

.xb-link {
	@apply text-slate-900 hover:text-blue-600 visited:text-purple-900 font-normal hover:font-bold no-underline hover:underline;
}

.xb-table {
	@apply w-full table relative overflow-hidden z-[1] border-y;

	td, th {
		@apply relative outline-none p-3 text-left;
	}

	tr{
		@apply border-y;
	}

	tbody tr:hover {
		@apply bg-slate-300/25;
	}

	td:hover::after,
	thead th:not(:empty):hover::after,
	td:focus::after,
	thead th:not(:empty):focus::after { 
		@apply bg-slate-200/25 h-[10000px] left-0 absolute top-[-5000px] w-full z-[-1];
		content: ' '; 
	}

	td:hover::after,
	th:hover::after {
  		@apply bg-slate-300/25;
	}

	td:hover {
		@apply outline-2 outline-offset-[-2px] outline-blue-600 outline-dashed rounded;
	}
}