.xb-link {
	@apply text-slate-900 hover:text-blue-600 visited:text-purple-900 font-normal hover:font-bold no-underline hover:underline;
}

.xb-table {
	@apply w-full table relative overflow-hidden z-[1] border-y;

	td, th {
		@apply relative outline-none p-3 text-left;
	}

	tr{
		@apply border-y;
	}

	tbody tr:hover {
		@apply bg-slate-300/25;
	}

	td:hover::after,
	thead th:not(:empty):hover::after,
	td:focus::after,
	thead th:not(:empty):focus::after { 
		@apply bg-slate-200/25 h-[10000px] left-0 absolute top-[-5000px] w-full z-[-1];
		content: ' '; 
	}

	td:hover::after,
	th:hover::after {
  		@apply bg-slate-300/25;
	}

	td:hover {
		@apply outline-2 outline-offset-[-2px] outline-slate-300 outline-dashed rounded;
	}
}